<h1 class="text-center bg-light">職員トップページ</h1>

<% if current_staff_member %>
  <p><%= link_to "ログアウト", :staff_session, method: :delete %></p>
  <% else %>
  <p><%= link_to "ログイン", :staff_login %></p>
<% end %>